:root {
  --primary-color: #005A8D;
  --secondary-color: #022E57;
  --third-color: #FF96AD;
  --fourth-color: #FFF5FD;
  scroll-behavior: smooth; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

/* General */

/* General Main Container */

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* General Navbar */

.navbar {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
}

.navbar__ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  transition: top 1s;
  z-index: 1;
}

.navbar__ul li {
  padding: 10px 0;
}

.navbar__span {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  z-index: 3;
}

.navbar__btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.navbar__btn i {
  font-size: 2rem;
}

.navbar__li a:hover {
  color: var(--primary-color);
}

.navbar__span:hover {
  color: var(--primary-color);
}

/* Main Page */

.main-page {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: margin-top 1s;
}

.main-page__text {
  width: 80%;
  font-size: 20px;
}
.main-page__text h1 {
  margin: 20px 0;
}

.main-page__highlighted-text {
  color: var(--primary-color);
}

.main-page__img {
  width: 80%;
}

.main-page__img img {
  width: 100%;
}

.main-page__subtext {
  font-size: 22px;
  display: block;
  white-space: nowrap;
  font-family: monospace;
  border-right: 3px solid #000;
  width: 23ch;

  animation: typing 5s steps(23), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {
  50% {border: transparent}
}


/* Media queries */

/* Mobile Devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar__ul {
    position: absolute;
    left: 0;
    top: -140px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar__ul {
    position: absolute;
    left: 0;
    top: -140px;
  }
}

/* Small screens, laptops (769px - 1024px)*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar__ul {
    width: 75%;
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    gap: 70px;
  }

  .navbar__btn {
    display: none;
  }
}

/* Desktops, large Screens () */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .navbar__ul {
    width: 75%;
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    gap: 70px;
  }

  .navbar__btn {
    display: none;
  }
}

/* Extra large Screens, TV */
@media screen and (min-width: 1200px) {
  .navbar__ul {
    width: 75%;
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    gap: 70px;
  }

  .navbar__btn {
    display: none;
  }

  .main-container {
    width: 1200px;
  }

  .main-page {
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .main-page__text {
    width: 50%;
    font-size: 30px;
  }

  .main-page__subtext {
    font-size: 30px;
  }
  
  .main-page__img {
    width: 50%;
  }
}

/* Specials Classes */

.top-93 {
  top: 93px;
}

.margin-top-152 {
  margin-top: 152px;
}



/*

@media screen and (min-width: 600px) {

  .navbar__ul {
    width: 75%;
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    gap: 70px;
  }

  .navbar__btn {
    display: none;
  }

  .projects-section__container {
    flex-direction: row;
  }

  .project-card {
    width: 350px;
    margin: 20px;
  }

}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 1200px;
  }

  .main-page {
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .main-page__text {
    width: 50%;
    font-size: 30px;
  }

  .main-page__subtext {
    font-size: 30px;
  }
  
  .main-page__img {
    width: 50%;
  }

  
}
*/